*{
    padding: 0;
    margin: 0;;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card{
    width: 340px;
    background: #ffffff;
    padding: 35px;
    margin: 0;
    text-align: center;
    border-radius: 10px; 
}
.card img{
    object-fit:fill;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 30px;
   
} 
h2{
    font-size: 20px;
    margin-bottom: 20px;
}
p{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
.details p a{
    text-decoration: none;
    color: black;
    margin-bottom: 40px; 
}
.buttons{
    margin-top: 40px;
}
.buttons a{
    text-decoration: none;
    background-color:  #3b82f6;
    color: white;
    padding: 4px;
    margin: 5px;
    display: inline-block;
    border-radius: 8px;
}
.buttons a:hover{
    background-color: darksalmon;
}